/* Reset Styles */
:root{
  --blue--color: #052ED8;
  --green--color: #00C409;
  --yellow--color:#F2C900;
  --dark--color:#272727;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none
  
}

body {
  font-family: "Tajawal", serif;
  line-height: 1.6;
  scroll-behavior: smooth; /* تفعيل التمرير السلس */
  direction: rtl;
}

header.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  color: #272727;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}
header.navbar img{
width: 120px;
}


.nav-list {
  list-style: none;
  display: flex;
  transition: transform 0.5s ease-in-out, opacity 0.3s ease;
}

.nav-list li {
  margin: 0 1rem;
}

.nav-list a {
  text-decoration: none;
  color: #272727;
  font-size: 1rem;
  transition: color 0.3s ease;
  font-weight: bold;
}

.nav-list a:hover {
  color: var(--blue--color);
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.menu-toggle .bar {
  background-color: var(--blue--color);
  height: 3px;
  width: 25px;
  margin: 3px 0;
  transition: all 0.3s ease;
}

/* Responsive Design */
@media (max-width: 1020px) {
  .menu-toggle {
    display: flex;
  }

  .nav-list {
    position: absolute;
    top: 80px;
    right: 0;
    background-color: var(--blue--color);
    flex-direction: column;
    width: 100%;
    transform: translateY(-100%);
    opacity: 0;
    align-items: start;
    padding:40px;
    border-radius: 0 0 20px 20px;
  }


  .nav-list.active {
    transform: translateY(0);
    opacity: 1;
  }

  .nav-list li {
    text-align: center;
    margin: 1rem 0;
  }
}
@media( width <= 1020px){
  .nav-list a{
    color:white !important;
  }
}
.contact-us{
  background-color: var(--green--color); ;
  padding: 10px 15px;
  border-radius: 10px;
  color:white !important;
  font-weight: bold;
}
.contact-us i{
 color:white;
 margin-right:5px;
}


@media( width <= 1020px){
  .contact-us{
    display: none;
  }
}


/* Section Styling for Demo */
main section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

main section:nth-child(even) {
  background: #ddd;
}
