:root{
  --blue--color: #052ED8;
  --green--color: #00C409;
  --yellow--color:#F2C900;
  --dark--color:#272727;
}

*{
  scroll-behavior: smooth;
}
section {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  opacity: 0;
  transform: translateY(-20px);
  animation: slideDown 0.5s ease-out forwards 0.5s;
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Component */
.title{
  color: var(--blue--color);
  font-size:40px;
  position: relative;
  width: fit-content;
}
.title::after{
  content: "";
  background-color: var(--yellow--color);
  width: 70px;
  height: 4px;
  border-radius: 10px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: 0.3s;
}
.title:hover::after{
  content: "";
  background-color: var(--yellow--color);
  width: 130px;
  right: 50%;
  transform:translateX(50%) ;
}


/* Section Styling for Demo */
main section {
  display: flex;
  justify-content: center;
  position: relative;
}

.swiper-button-next,
.swiper-button-prev{
color: var(--blue--color) !important;
padding: 20px;
background-color: white;
border-radius: 50%;
}

.container{
  display: flex;
  margin: auto;
  max-width: 1280px;
  justify-content: center;
  align-items: center;
}

@media ( 1440px < width ){
  .container{
    width: 1440px;
    justify-content: space-around;
  }
}
@media (width < 1024px){
  .container{
    max-width: 1280px;
  }
}

/* Component */
.landing{
position: relative;
background: linear-gradient(rgba(255, 255, 255, 0) , rgb(255, 255, 255)), url('/public/assets/Landing background.svg');
background-position: center;
background-size: 150%;
background-attachment: fixed;
max-width: 100vw;
min-height: 100vh;
padding: 0;
}
.landing img{
  animation: image-ani 1s linear infinite alternate;
}

@keyframes image-ani{
  0%{
    transform: translateY(3px) rotate(0.5deg);
  }
  50%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-2px) rotate(-0.5deg);
  }
}
.landing-box-txt{
  padding-right: 20px;
}
.landing .heading-landing{
font-size: 60px;
text-align:right ;
max-width: 500px;
color: var(--blue--color);
}
.landing span{
color: var(--green--color);
}
.landing .features{
margin: 0 10px;
position: relative;
}

.landing .features span{
  color: var(--blue--color);
}

.landing .features li::after{
content: '\f00c';
font-family: 'Font Awesome 5 Free';
font-weight: bold;
position: absolute;
right: -20px;
color: var(--green--color);
}

.btn-container{
margin: auto;
}
.btn{
padding: 15px 30px;
border-radius: 10px;
position: relative;
top:30px;
margin-left: 10px; 
font-weight: bold;
font-size: 17px;
border: 3px solid transparent;
}
.btn.explore{
background-color: var(--blue--color);
color: white;
}
.btn.chat{
background-color: white;
color: var(--blue--color);
border: 3px solid var(--blue--color);
text-align: center;
}

.landing .scroll-down{
position: absolute;
top: 85%;
font-size: 25px;
animation: arrow-down 0.4s linear  infinite alternate ;
color: var(--blue--color);
}

@keyframes arrow-down{
  0%{
    top: 86%;
  }
  100%{
    top: 87%;
  }
}




@media (  width < 1080px ){
  .landing .container img{
    width: 500px;
  }
  .landing .container .heading-landing{
    text-align:right;
    max-width: 400px;
  }
  
}
@media (  width < 1020px ){
  .landing .container{
    flex-direction: column-reverse;
  }
  .landing .container img{
    width: 400px;
  }
  .landing .container .landing-box-txt{
    text-align: right;
  }
  
}
@media (  width < 550px ){
  .landing .container{
    flex-direction: column-reverse;
  }
  .landing .container img{
    width: 280px !important;
  }
  .landing .container .heading-landing{
    font-size: 40px;
    width: 280px;
    text-align: center;
    margin: auto;
  }
  .landing .container .landing-box-txt {
    padding: 0;
    position: relative;
    top: -25px;
  }
  .landing .container .features{
    font-size: 12px;
    font-weight: 500;
    margin-right: 40px;
  }
  .landing .container .btn-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing .container .btn-container .btn{
    font-size: 14px;
    top: 10px;
    padding: 15px 20px;
    right: 10px;
  }
}
/* Start -- About Page -- */
#about-sec{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;

}

.about-data{
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
  font-weight: 500;
  font-size: 25px;
}
.about-txt a{
  color: var(--blue--color);
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

@media (  width < 1020px ){
  #about-sec .container{
    flex-direction: column-reverse;
    padding: 30px;
  }
  #about-sec p{
    font-size: 20px;
  }
}

@media (  width < 550px ){
  #about-sec img{
    width: 280px;
  }
}
@media (  width < 550px ){
  #about-sec .container{
    padding: 20px;
  }
}
/* End -- About Page -- */


/* Start -- Video -- */
#video {
 position: relative;
}
#video img{
 cursor: pointer;
 padding: 50px 0 0 0 ;
 width: 800px;
}


@media (  width < 1020px ){
  #video img{
    width: 600px;
  }
  
}

@media (  width < 700px ){
  #video img{
    width: 480px;
  }
}
@media (  width < 550px ){
  #video img{
    width: 320px;
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100% ;
  background:rgba(0, 0, 0, 0.8) ;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  padding: 10px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  text-align: center;
  position: absolute;
  background-color: black;
}

.close-modal {
  position: absolute;
  top: -10px;
  right: -20px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

iframe {
  border: none;
  border-radius: 8px;
}
/* End -- Video -- */


/* Start -- journy -- */
#journy{
  display: block !important;
  margin: auto;
  background-color: white;
  position: relative;
  padding-bottom: 70px;
}
#journy .container{
  display: block !important;
  margin: auto;
}
.journies-container > div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 2;
  flex-wrap: wrap;
}
.journies-container > div::after{
  content: "";
  position: absolute;
  background-color: var(--dark--color);
  opacity: .3;
  width: 100%;
  height: 3px;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: -1;
}
@media (  width < 550px ){
  .journies-container > div::after{
    display: none;
  }
}
.journy-txt{
 display: flex;
 padding-top: 30px;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.journy-txt p{
margin-top: 20px;
font-size: 20px;
font-weight: 500;
}
.journy-txt p span{
color: var(--blue--color);
}

.journies-container{
  margin-top: 20px;
}


.journy-data{
  width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:20px;
}
.journy-data img{
  transition: 0.3s;
}
.journy-data:hover img{
 animation: joruny-effect 0.6s linear  alternate ;
}

@keyframes joruny-effect{
  0%{
    transform: translateY(0);
  }
  20%{
    transform: translateY(5px);
  }
  40%{
    transform: translateY(0);
  }
  60%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(0);
  }
}

.image-journy-cont{
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.journy-data.frist .image-journy-cont{
  background-color: var(--blue--color);
}
.journy-data.frist h2{
  color: var(--blue--color);
}
.journy-data.second .image-journy-cont{
  background-color: var(--green--color);
}
.journy-data.second h2{
  color: var(--green--color);
}
.journy-data.third .image-journy-cont{
  background-color: var(--yellow--color);
}
.journy-data.third h2{
  color: var(--yellow--color);
}
.journy-data img{
width: 50px;
}
/* End -- journy -- */



/* Start -- CTA-Section -- */
#CTA{
background: linear-gradient(270deg,#052ED8,#031a79);
height:50vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 30px;
position: relative;
z-index: 9;
}
#CTA::after{
content:"";
background: url('/public/assets/CTA-image.png');
height: 50vh;
width: 100%;
position: absolute;
z-index: -1;
opacity: .1;
}
#CTA h1{
color: white;
text-align: center;
font-size: 50px;
padding: 20px;
}
#CTA a{
background-color: white;
color: var(--blue--color);
border-radius: 5px;
text-align: center;
font-size: 20px;
font-weight: bold;
padding: 15px 20px;
transition: 0.3s;
border: 2px solid transparent;
}
#CTA a:hover{
background-color: var(--blue--color);
color: white;
border-color: white;
border-radius: 7px;
}

@media (  width < 550px ){
  #CTA h1{
    font-size: 40px;
  }
}
/* End -- CTA-Section -- */


/* Start-- Courses-Section -- */
#courses{
  min-height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.459) , rgb(255, 255, 255)), url('/public/assets/Landing background.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
}
#courses .container{
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
}

.courses-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.course-box img{
  width: 300px;
  /* border-radius: 5px 5px 0 0; */
  position: relative;
  z-index: -1;
  transition: 0.3s;
  margin-bottom: 5px;
  scale: 1.01;
}
.course-box:hover img{
  transform: scale(1.05) rotate(1deg);
  filter: blur(1px);
}
.course-box:hover h1{
  color: var(--green--color);
}
.course-box{
  width: 306px;
  height: 280px;
  border: 3px solid var(--blue--color);
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}
.course-box h1{
  color: var(--blue--color);
  font-weight: bold;
  transition: 0.3s;
}
.course-box p{
  color: var(--dark--color);
  font-weight: 500;
}
/* End-- Courses-Section -- */


/* Start -- Certifcate-Section -- */
#Certifcate{
height: 100vh;
  background: url('/public/assets/CBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
}
#Certifcate img{
  max-width: 900px;
}

@media (  width < 1020px ){
  #Certifcate img{
    width: 600px;
  }
}

@media (width < 700px){
  #Certifcate img{
    width: 460px;
  }
}

@media (  width < 550px ){
  #Certifcate img{
    width: 320px;
  }
}

/* End -- Certifcate-Section -- */


/* Start -- FAQ-Section -- */
#FAQ{
  min-height: 100vh;
}
#FAQ .container{
  flex-direction: column;
}
.FAQ-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  margin-top: 50px;
  width: 1000px;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question:hover {
  background-color: #f1f1f1;
}

.icon {
  font-size: 16px;
  color: var(--blue--color);
}

.faq-answer {
  padding: 15px 20px;
  font-size: 16px;
  color: #555;
  line-height: 1.5;
  background-color: #f9f9f9;
}

@media (  width < 1020px ){
  #FAQ .FAQ-box{
    width: 700px;
  }
}

@media (width < 700px){
  #FAQ .FAQ-box{
    width: 500px;
  }
}
@media (  width < 550px ){
  #FAQ .FAQ-box{
    width: 320px;
  }
  #FAQ .faq-question{
    font-size: 16px;
  }
}

/* End -- FAQ-Section -- */


/* Start Contact */

.contact{
padding: 0 0 30px;
max-width: 1040px;
margin: auto;
}
.contact h2{
color: var(--dark--color);
font-size: 20px;
transition: 0.3s;
}
.contact .container{
padding: 0 10px 30px;
width: 100%;
}

.contact .container a:not(.btn){
  flex: 1;
}
.contact .container a:hover h2 {
  color: var(--green--color);
}
.contact .container .btn{
  top: 0;
}

@media (  width < 1020px ){
  .contact{
    width: 700px;
  }
}

@media (width < 700px){
  .contact{
    width: 600px;
  }
  .contact .container{
    flex-wrap: wrap;
  }
}
@media (width < 600px){
  .contact{
    width: 320px;
  }
  .contact .container{
      flex-direction: column;
      gap: 30px;
  }
}


/*  End Contact */


/* Start Reels */
#Feedback{
  background-color: #f9f9f9;
}
.reels-container {
  width: 100%;
  padding: 20px ;
  position: relative;
  max-width: 1080px;
  margin: auto;
}

/* تصميم البطاقات */
.reel-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0033cc;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
}

.reel-card img {
  transition: 0.4s;
}
.reel-card:hover img {
  transform: scale(1.02);
  filter: blur(1px);
}

.swiper{
  padding: 20px 5px !important;
}
.thumbnail {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.video-title {
  font-size: 18px;
  margin: 10px 0;
}

/* تصميم الطبقة السوداء للفيديو */
.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  background: #000;
}

.video-container iframe {
  width: 100%;
  height: 450px;
  border: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End Reels */

/* Start Footer */
footer{
  background: linear-gradient(90deg ,#031f92, #0033cc) var(--blue--color);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

footer .logo-qudraat{
  width: 250px;
}

footer .social-media{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer .social-media img{
  width: 30px;
}


footer .line{
  max-width: 800px;
  width: 600px;
  border-radius: 5px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.15);
}

footer .copyright{
  color: white;
  font-weight: 500;
}


@media (  width < 700px ){
  footer .line{
    width: 320px;
  }
}

@media (  width < 550px ){
  footer .logo-footer img{
    width: 150px;
  }
}

/* End Footer */


